@model IEnumerable<ServiceGateways.Entities.GlobalGoal>

<div class="jumbotron sm-jumbo">
    <h4 style="margin-top:0px;">OVERSIGT</h4>
    <div class="edit-btns" style="display:block" align="right">
        <button onclick="location.href='@Url.Action("Index", "GlobalGoal")'" type="button" class="btn-sm btn-labeled btn-primary remove-border-radius-border">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Opret nyt Verdensmål
        </button>
        <button type="button" class="btn-sm  btn-labeled btn-primary remove-border-radius-border">
            <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>Rediger Forside
        </button>
    </div>
    <hr style="border: 0.5px solid black;" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th style="text-align: center">Børns Kunst</th>
                <th style="text-align: center">Børns Tekster</th>
                <th style="text-align: center">Musik/Video</th>
                <th style="text-align: center">Landart</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (var title in item.Translation.TranslatedTexts.Where(x => x.LanguageISO == "da"))
                        {
                            <a href="@Url.Action("Update", "GlobalGoal", new { id = item.Id })"> @title.Title</a>
                        }
                    </td>
                    <td style="text-align: center"><i class="material-icons">done</i></td>
                    <td style="text-align: center"><i class="material-icons">done</i></td>
                    <td style="text-align: center"><i class="material-icons">done</i></td>
                    <td style="text-align: center"><i class="material-icons">done</i></td>
                    <td>
                        <button type="button" class="btn-sm btn-labeled btn-danger remove-border-radius-border">
                            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Slet
                        </button>
                    </td>
                    <td>
                        @if (item.IsPublished == true)
                        {
                            <button type="button" class="btn-sm btn-labeled btn-warning remove-border-radius-border" style="width:80%;">
                                <span class="btn-label" style="left:-13px;"><i class="glyphicon glyphicon-minus"></i></span>Unpublish
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn-sm btn-labeled btn-success remove-border-radius-border" style="width:80%;">
                                <span class="btn-label" style="left:-20px;"><i class="glyphicon glyphicon-plus"></i></span>Publish
                            </button>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td><a href="">#2 Stop Sult</a></td>
                <td style="text-align: center"><i class="material-icons">clear</i></td>
                <td style="text-align: center"><i class="material-icons">done</i></td>
                <td style="text-align: center"><i class="material-icons">clear</i></td>
                <td style="text-align: center"><i class="material-icons">done</i></td>
                <td>
                    <button type="button" class="btn-sm btn-labeled btn-danger remove-border-radius-border">
                        <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Slet
                    </button>
                </td>
                <td>
                    <button type="button" class="btn-sm btn-labeled btn-success remove-border-radius-border" style="width:80%;">
                        <span class="btn-label" style="left:-20px;"><i class="glyphicon glyphicon-plus"></i></span>Publish
                    </button>
                </td>
            </tr>



        </tbody>
    </table>
</div>