body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

    body h4 {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sm-jumbo {
    font-size: 14px;
    border-radius: 1px !important;
}

.remove-border-radius-border {
    border-radius: 1px;
    border: none;
}

.remove-border-radius {
    border-radius: 1px;
}

.btn-label {
    position: relative;
    left: -10px;
    display: inline-block;
    padding: 6px 12px;
    background: #919191;
    background: rgba(0,0,0,0.15);
    border-radius: 1px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.txt-area textarea {
    resize: none;
    height: 292px;
}

.nav-btns.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #285e8e;
    border-radius: 1px;
    border: none;
}

.nav-tabs > li > a:hover {
    border: none;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
    }
